.border-wrapper {
    padding: 15px;
    height: 100%;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.border{
    background-color: #FFFFFF;
    border: 1px solid;
    padding: 15px;
    height: 100%;
}