.card {
    margin: -15px;
    height: 30vw;
    /*overflow: hidden;*/
    /*height: 100%;*/
}

.card .thumbnail {
    max-height: 25vw;
    max-width: 100%;
}

.card .title {
    margin-top: 5px;
    margin-left: 10px;
}

.card .text-wrapper {
    padding: 10px;
}

.card .text-wrapper .preview {
    overflow: hidden;
    position: relative;
    height: 3.6em;
    line-height: 1.2em;
}

.card .text-wrapper .preview:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}

.ribbon-wrapper {
    position: relative;
}

.ribbon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon::before {
    top: 0;
    right: 0;
}
.ribbon::after {
    bottom: 0;
    left: 0;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    right: -9px;
    top: 13px;
    transform: rotate(-45deg);
}