.container {
    display: block;
    position: relative;
    width: 100%;
}

.container > img {
    max-height: 480px;
    width: 100%;
    box-shadow: inset 10px 10px 10px #000000;
}

.title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(51,51,51,0.75);
}

.title > h2 {
    margin-left: 15px;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
}